<!doctype html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <title>Listening appka</title>

  <style>
    .marked{
      text-decoration: underline;
      color:red;
      font-weight:bold;
    }
  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </script>
</head>

<body>

  <div id="app" class="container">

<div v-if="error" style="color:red"><b> {{error}}</b></div>

    <span v-if="!piosenka">Wybierz utwór:</span>
    <select name="" id="" v-model="piosenka" @change="setSong()">
      <option value="forgotten">Linkin Park - Forgotten</option>

      <option value="papercut">Linkin Park - Papercut</option>
      <option value="authority">Linkin Park - Points of Authority</option>
      <option value="lpwithyou">Linkin Park - With you</option>

      <option value="radioactive">Imagine Dragons - Radioactive</option>
      <option value="toysoldiers"> Imagine Dragons - Demons</option>
      <option value="believer"> Imagine Dragons - Believer</option>


      <option value="slowdown">Selena Gomez - slow down</option>
      <option value="offspring"> The kids aren't alright - The Offspring</option>
      <option value="tiktok"> Kesha - Tik Tok</option>
      <option value="toysoldiers"> Eminem - Like Toy Soldiers</option>
      <option value="unstopabble"> Sia - Unstopabble</option>
      <option value="chandelier"> Sia - Chandelier</option>
      <option value="earthwindfire"> Earth, Wind Fire - September</option>
      <option value="venom"> Ghostmane - Venom</option>
      <option value="science"> SOAD - Science</option>












    


    </select>

    <br>


    <div v-show="piosenka">
      <audio controls id="audioelem" style="width:500px">
        <source :src="'muzyka/'+ piosenka +'.mp3'" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <br><br>


      <!-- <button id="ffbutton" @click="next">Run</button> -->

      <p id="napisy"></p>

      <input type="text" v-model="mytext" v-if="fragmentindex >= 0" style="width:500px">

      <br>
      <br>
      <button @click="podejrzyjnapisym" v-if="fragmentindex >= 0">Podejrzyj napisy</button>
      Fragment: <input style="width:40px" type="number" v-model.number="fragmentindex" :max="fragmenty.length - 1">

      <span v-show="!run">
        <button @click="next">Następny</button>
        <button @click="play" v-if="fragmentindex >= 0">Odtwórz</button>
      </span>

      <img src="audio.webp" alt="" v-if="run" style="width:30px;height:30px">


      <br>
<br><br>
      <button @click="showAllText()">Pokaż cały tekst</button>
      <br>
      <p style="white-space: pre-line" v-for="(elem,index) in fragmenty" :class="{marked:index==fragmentindex}" v-if="alltext"> {{elem.tekst}}</p>




    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>



  <script type="module" src="script.js"></script>



</body>

</html>